*{
    margin: 0;
    padding:0;
    font-family: "montserrat",sans-serif;
}
#imag
{
    top:70%;
}
body {
    margin: 0%; 
    padding: 0%; 
}   
/* h1,h2{
    text-align: center;
}
h2{
    color: white;
} */
#text{
    margin-left:25%;
    width: 50%;
    font-family: "montserrat",sans-serif;
    margin-top: 0%
    
}
.complaint-section{
    background: url('../img/complaintbg.png');;
    background-size:cover;
    padding :40px 0;
    
}
#imag{
    margin-left: 65%;
}

a{
    
    color: black; 
}
.complaint-section h1{
    text-align: center;
    font-family: "montserrat",sans-serif;
    color:#ddd;
}
.border{
    width:100px;
    height:10px;
    background: #34495e;
    margin:40px auto;
}
.complaint-form{
    max-width:600px;
    margin:auto;
    padding:0 10px;
    overflow:hidden;
} 
.complaint-form-text{
    display: block;
    width:100%;
    font-size: 20px;
    height: 50px;
    box-sizing: border-box;
    margin:0;
    border:0;
    background: #111;
    outline:none;
    color:#ddd; 
    transition:0.5s;
}
.complaint-form-text:hover{
    box-shadow: 0 0 10px 4px #34495e;
}
input[type='email'].complaint-form-text::placeholder{
    color: white;
    font-family: "montserrat",sans-serif;
}
input[type='text'].complaint-form-text::placeholder{
    color: white;
    font-family: "montserrat",sans-serif;
}
input[type='number'].complaint-form-text::placeholder{
    color: white;
    font-family: "montserrat",sans-serif;
}
textarea.complaint-form-text{
    resize: none;
    font-family: "montserrat",sans-serif;
    height: 120px;
}
textarea.complaint-form-text::placeholder{
    color: #fff;
    font-family: "montserrat",sans-serif;
}

.complaint-form-btn{
    float:right;
    border:0;
    background:#34495e;
    color:#fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.complaint-form-btn:hover{
    background: #2980b9;

}